

#name{
	width:250px;
	margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category{	
	background-color: #ffd166;
	height: 30px;
	width: 200px;
	border-radius: 10px; 
	padding: 5px;
	margin: 10px;
}

.category:hover{	
	background-color: #ffd156;
	height: 30px;
	width: 200px;
	border-radius: 10px; 
	padding: 5px;
}

.category1{	
	background-color: #ef476f;
	height: 30px;
	width: 200px;
	border-radius: 10px; 
	padding: 5px;
	margin: 10px;
}